/* Video Container */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.square-video {
  width: 100%;
  max-width: 800px;
  /* Keeps the width responsive */
  max-height: 400px;
  /* Maximum height for desktop */
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 30px rgba(0, 123, 255, 0.5), 0 0 45px rgba(0, 123, 255, 0.4);
}

.square-video:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.6), 0 0 60px rgba(0, 123, 255, 0.5);
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Ensures full video is shown without cropping */
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .square-video {
    width: 300px;
    height: 170px;
    /* Adjust height for mobile */
  }

  .video-element {
    width: 100%;
    height: 170px;
    object-fit: contain;
  }
}

/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

/* Slider Container */
.slider-container {
  width: 100%;
  max-width: 1055px;
  /* Limits the width of the slider on larger screens */
  position: absolute;
}

/* Image Container */
.image-container {
  width: 100%;
  height: 100%;
  /* Let the height adjust dynamically */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  /* Make sure image takes full container height */
  object-fit: contain;
  /* Ensures full image is shown without cropping */
  border-radius: 8px;
}

/* Media Query for Tablets */
/* Media Query for Tablets */
@media (max-width: 768px) {
  .image-container {
    height: 300px;
    /* Increase the height for smaller devices */
    /* Adjust the height for smaller screens to make the image taller */
  }

  .image-container img {
    object-fit: cover;
    /* Adjusts to cover mode for mobile */
  }
}

/* Media Query for Small Mobile Screens */
@media (max-width: 480px) {
  .image-container {
    height: 300px;
    /* Increase the height for small mobile screens */
    /* Adjust height for mobile screens */
  }

  .image-container img {
    object-fit: cover;
  }
}

/* Media Query for Smaller Tablets and Larger Mobile Screens */
@media (max-width: 1200px) {
  .image-container {
    height: 350px;
    /* Increase height on slightly larger screens */
  }

  .image-container img {
    object-fit: cover;
  }
}
